<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if title%}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>About Blog</title>
    {% endif %}
</head>
<body>
<h1>About Page</h1>
</body>
</html>