<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {%if title%}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Blog Home</title>
    {% endif %}
</head>
<body>
<!-- Flask post block-->
{% for post in posts %}
    <h1>{{post.title}}</h1>
    <p>By {{post.author}} on {{post.date_posted}}</p>
    <p>{{post.content}}</p>
{% endfor %}
</body>
</html>